
<li>
<p class="{entryclass}">
<a class="filelink" href="{file}">{title}</a>
<span class="date">{date}</span>
<span class="source">{source}</span>
<p class="desc">{excerpt}</p>
<a class="original" href="{source_url}">{source_url}</a>
</p>
</li>

